.navbar {
  width: 100%; 
  background-color: #34495e; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; 
}

.new-issue-btn {
  background-color: #18bc9c; 
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}